{:deps 
  {com.stuartsierra/component {:mvn/version "0.4.0"}
  honeysql {:mvn/version "0.9.9"}
  org.clojure/java.jdbc {:mvn/version "0.7.11"}
  org.clojure/tools.namespace {:mvn/version "1.0.0"}
  org.postgresql/postgresql {:mvn/version "42.2.10"}
  compojure {:mvn/version "1.6.1"}
  ring {:mvn/version "1.8.0"}
  metosin/compojure-api {:mvn/version "1.1.13"}
  nilenso/honeysql-postgres {:mvn/version "0.2.6"}}}
